.kdr {

}

.kdr__inner {
  border: 1px solid rgba(255, 255, 255, 0.76);
  background: radial-gradient(111.12% 124.47% at 82% 16%, rgba(119, 214, 255, 0.12) 0%, rgba(0, 0, 0, 0.00) 20%), linear-gradient(180deg, rgba(255, 255, 255, 0.82) 0%, rgba(244, 249, 255, 0.64) 100%);
box-shadow: 0 28px 90px 0 rgba(63, 104, 162, 0.10);
}